.imageupload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    
}
.imageupload__progressbar{
    width: 100%;
}